DATABASE_URL=postgresqldburl
JWT_SECRET_KEY=mykothinjwtsecret
ACCESS_TOKEN_EXPIRE_MINUTES=30

SMTP_USER=email provider
SMTP_PASSWORD=passs


CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=


OPENAI_API_KEY=